@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #edfee0;
}

#home{
    background-color: black;
    color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

header div p{
    font-size: 2.5em;
    font-weight: 200;
}

.logo{
    font-size: 3em;
    font-weight: 700;
    color: orangered;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

nav ul li{
    margin: 0 20px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.8em;
    color: black;
}

.nav-link:hover{
    color: orangered;
}

h1, h3, h4{
    font-weight: 800;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 4em;
    font-weight: 500;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 1.8em;
}

.input{
    line-height: 2em;
    width: 350px;
    border-radius: 3px;
    border-color: black;
    margin: 20px 0;
}

.link-button{
    text-decoration: none;
    border-color: black;
    text-align: center;
    background-color: #f05136;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5%;
}

.link-button:hover{
    color: white;
}

#bio img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 100px;
}

#bio p{
    font-size: 1.5em;
}

#bio{
    display: flex;
    align-items: center;
}

#bio article *{
    margin: 20px;
}

.break{
    display: block;
}

hr{
    width: 400px;
}

#portfolio{
    background: url("https://c4.wallpaperflare.com/wallpaper/495/45/161/diamond-pattern-black-printed-wallpaper-preview.jpg");
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#portfolio h1, p {
    padding-bottom: 20px;
}

#portfolio div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}

#portfolio div article{
    background-color: white;
    color: black;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

#portfolio div article p{
    padding: 0 5px;
}

#skills-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#skills-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#skills ul{
    list-style: none;
}

#skills ul li{
    margin: 10px 0;
}

#contact form input:last-child{
    margin: 30px 0;
}

#contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px;
}

#contact{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}